<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    
    <!--Libraries-->
    <script src="/socket.io/socket.io.min.js"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/animation.css">
</head>
<body class="bg-[#C7D9DD] w-screen h-screen flex flex-col justify-center gap-2 items-center overflow-hidden">
    <div class="bg-[#D5E5D5] w-full h-auto p-4 flex justify-between items-center">
        <div class="flex flex-col gap-2 w-full">
            <p class="font-roboto text-md text-center text-black" id="welcomeHeader">Welcome</p>
            <p class="font-roboto text-sm text-center text-black" id="socketID">Socket ID: </p>
        </div>

        <button class="bg-[#ADB2D4] w-auto h-auto p-2 rounded-lg font-roboto text-center text-sm text-white cursor-pointer text-nowrap active:bg-[#8f98db]" onclick="logout()">Log out</button>
    </div>

    <!--Buttons for mobile-->
    <div class="w-full flex justify-evenly items-center lg:hidden">
        <button class="bg-[#ADB2D4] w-auto h-auto p-2 rounded-lg font-roboto text-center text-sm text-white cursor-pointer text-nowrap active:bg-[#8f98db]" onclick="toggleRoom('stuffPanel')">Open Stuff</button>
        <button class="bg-[#ADB2D4] w-auto h-auto p-2 rounded-lg font-roboto text-center text-sm text-white cursor-pointer text-nowrap active:bg-[#8f98db]" onclick="toggleRoom('messagePanel')">Open Message</button>
        <button class="bg-[#ADB2D4] w-auto h-auto p-2 rounded-lg font-roboto text-center text-sm text-white cursor-pointer text-nowrap active:bg-[#8f98db]" onclick="toggleRoom('roomPanel')">Open Rooms</button>
    </div>

    <!--Contents-->
    <div class="w-full h-full flex justify-evenly items-center gap-2 p-4">
        <!--Other stuff-->
        <div id="stuffPanel" class="w-[20rem] h-fit bg-[#D5E5D5] rounded-lg hidden lg:block">
            <h1 class="text-center text-md text-black font-roboto p-2 font-bold w-full h-auto bg-[#cafaca]">Message list</h1>
        
            <div class="w-auto h-auto flex flex-col gap-2 p-2">
                <input type="text" class="w-full h-auto outline-none bg-white rounded-md p-2 font-roboto text-center text-sm"
                    placeholder="Type a name of someone to chat..." maxlength="20">
                
                <div class="w-full h-[20rem] overflow-x-hidden overflow-y-auto gap-4 p-2 max-xsm:h-[10rem]">
                    <div
                        class="w-full h-[2rem] bg-transparent flex justify-between items-center p-2 cursor-pointer hover:bg-[#ADB2D4] group">
                        <p class="group-hover:text-white text-center text-sm text-black font-roboto">Global Messages
                        </p>
                        <p class="text-center text-sm text-red-500 font-roboto">99+</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Messages-->
        <div id="messagePanel" class="w-[20rem] h-auto bg-[#D5E5D5] rounded-lg">
            <h1 class="text-center text-md text-black font-roboto p-2 font-bold w-full h-auto bg-[#cafaca]">Messages</h1>

            <div class="w-full h-auto p-2 flex flex-col gap-2">
                <!--Content messages-->
                <div class="w-full h-[20rem] bg-[#EEF1DA] rounded-md overflow-x-hidden overflow-y-auto scroll-smooth flex flex-col gap-4 p-2 max-xsm:h-[10rem]" id="globalMessageContainer">
                    
                </div>
                
                <!--Input messages-->
                <div class="w-full h-auto flex justify-between items-center gap-4">
                    <textarea id="messageInput" type="text" class="bg-white p-4 font-roboto text-sm text-left rounded-lg w-full h-[4rem] outline-none" placeholder="Type Message..." maxlength="300" oninput="textCounter('messageInput', 'messageCounter', 300)"></textarea>
                   <div class="flex flex-col gap-2 items-center">
                        <button class="bg-green-500 font-roboto text-center text-white text-sm w-auto h-auto p-2 rounded-md cursor-pointer active:bg-green-700" onclick="sendMessage()">Send</button>
                        <p id="messageCounter" class="font-roboto text-left text-sm text-black">0/300</p>
                   </div>
                </div>
            </div>
        </div>

        <!--Rooms-->
        <div id="roomPanel" class="w-[20rem] h-fit bg-[#D5E5D5] rounded-lg hidden lg:block">
            <h1 class="text-center text-md text-black font-roboto p-2 font-bold w-full h-auto bg-[#cafaca]">Rooms</h1>

            <div class="w-full h-auto p-2 flex flex-col gap-2">
                <input type="text" class="w-full h-auto outline-none bg-white rounded-md p-2 font-roboto text-center text-sm" placeholder="Type a room name..." maxlength="20">
                
                <div class="w-full h-[20rem] overflow-x-hidden overflow-y-auto gap-4 p-2 max-xsm:h-[10rem]">
                    <div class="w-full h-[2rem] bg-transparent flex justify-between items-center p-2 cursor-pointer">
                        <p class="text-center text-sm text-black font-roboto">Test Room (Private)
                        </p>
                        <button
                            class="bg-[#ADB2D4] w-auto h-auto p-2 rounded-lg font-roboto text-center text-sm text-white cursor-pointer text-nowrap active:bg-[#8f98db]">Join
                            Room</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Validation loading-->
    <div class="absolute w-screen h-screen bg-black/25 justify-center items-center hidden" id="loadingValidate">
        <div class="w-auto h-auto p-4 rounded-sm bg-white flex flex-col items-center gap-4">
            <p class="font-roboto text-center text-black text-sm">Validating...</p>
            <span class="loader"></span>
        </div>
    </div>
</body>
</html>

<script src="/socketConnection.js"></script>
<script src="/globalFunction.js"></script>
<script src="/userFunction.js"></script>